# Name: TESTPlugin__

# Just a test

# Author: KHK
# Version: 0.1
# Date: 2009/8/2
# Requires: ImageJ


# noch nicht fertig...
# Documentation:    http://rsbweb.nih.gov/ij/plugins/jar-demo.html
# Example:          Menu>Submenu, "Command", Plugin
# Plugins can be installed in the File>Import, File>Save As, Edit>Options, Analyze>Tools, Help>About Plugins and Plugins menu and submenus. If Plugins>Submenu is specified, the command will installed in the submenu of the Plugins manu named Submenu. If this submenu does not exist, it is created. If Plugins is specified, the command will be installed in the submenu of the Plugins menu that corresponds to the directory containing the JAR file. For example, if the JAR file is in ImageJ/plugins/jars, the command will be installed in Plugins>jars.

# Plugins>KHKs_QLF, "",
Plugins>KHKs_QLF, "QlfStatistics_", QlfStatistics_
Plugins>KHKs_QLF, "QlfStatistics_Stack", QlfStatistics_Stack
Plugins>KHKs_QLF, "QlfUpdateLUT_", QlfUpdateLUT_
Plugins>KHKs_QLF, "SubstractTrianglePerc_", SubstractTrianglePerc_
Plugins>KHKs_QLF, "Subtract_Triangle", Subtract_Triangle
# Plugins>KHKs_QLF, "",


